--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cu117
pandas==1.4.3
numpy==1.23.1
transformers==4.38.0
datasets==2.11.0
seaborn
wandb
deepspeed==0.9.5
accelerate==0.20.3
evaluate